.create-event {

    background-color: #546566;
    color: white;
    font-family: "Gilroy";
    font-weight: 600;
    width: 160px;
    outline: none;
    border-color: #546566;
    background: #546566;
    padding: 13px;
    border: none;
    background: #546566;
    border-radius: 2px;
    height: 45px;
    font-size: 16px;
    line-height: 10px;
}

.square {
    padding-bottom: 30px;
}

.flex-center img {
    margin-bottom: 10px;
}

.square h3 {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.flex-center h3 {
    margin-top: 5px;
    margin-bottom: 5px !important;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-row {
    margin-bottom: 30px;
}


#points-page {
    width: 85%;
    margin-bottom: 80px;
}

.flex-rectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.flex-rect-left {
    display: flex;
    align-items: center;
}

.flex-rect-left h3 {
    margin: 0px !important;
    margin-right: 30px !important;
}

.flex-rect-left div {
    font-weight: 600;
}


.square1 {
    border: 1px #e0e0e0 solid;
    border-top: 7px #cde0d8 solid;
    border-radius: 3px;
}

.square2 {
    border: 1px #e0e0e0 solid;
    border-top: 7px #cde0d8 solid;
    border-radius: 3px;
}

.square3 {
    border: 1px #e0e0e0 solid;
    border-top: 7px #cde0d8 solid;
    border-radius: 3px;
}

.square4 {
    border: 1px #e0e0e0 solid;
    border-left: 7px #cde0d8 solid;
    border-radius: 3px;
    height: 80px;
}



.profile-img1 {
    border-radius: 50%;
    height: 5px;
    width: 40%;
    margin-right: 600px;
}

.profile-img2 {
    border-radius: 50%;
    height: 5px;
    width: 40%;
    margin-top: -90px;
    margin-left: 140px;
}

.center-h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

.center-h3-text {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    font-weight: normal;
}

.leaderboard {
    margin-left: -17px;
}

.number {
    font-weight: bold;
}

.number2 {
    font-size: 20px;
    margin-top: 10px;
}

.name-2 {
    margin-top: -66px;
    margin-left: 530px;
}

.points-2 {
    margin-top: -30px;
    margin-left: 975px;


    font-family: 'Gilroy';
    width: 160px;
    outline: none;

    padding: 0;
    border: none;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
}

#large-row {
    margin-bottom: 50px;
}

label {
    font-weight: 500;

}