#Dashboard {
  margin-bottom: 40px;
  text-align: left;
}

.profile-card {
  border: 1px #E0E0E0 solid;
  border-top: 7px #CDE0D8 solid;
  border-radius: 3px;
  padding: 3rem;
}

.profile-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-flex-left {
  flex-grow: 1;
  padding-right: 50px;
  font-weight: 300;
}

.point-bar {
  margin-top: 8px;
}

.profile-flex-right {
  flex-grow: 1;
  text-align: center;
}

#point-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span {
  font-weight: 500;
}

.profile-img {
  border-radius: 50%;
  height: auto;
  width: 70%;
}

#profile-name {
  margin-top: 0;
}

.title {
  margin-top: 0;
}

.progress {
  margin-top: 3px;
  margin-bottom: 10px;
  height: 7px !important;
}

.progress-bar {
  background-color: #2A3D40 !important;
}