.App {
  font-family: Gilroy, sans-serif;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3 {
  color: #474D52;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.my-event-tabs p {
  font-weight: 600;
  color: #828282;
  padding-bottom: .3rem;
}

.my-event-tabs p.active {
  font-weight: 600;
  color: #2A3D40;
  border-bottom: 3px solid #2A3D40;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar-img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: -3%;
}

.navbar-line {
  margin-top: 2px;
  border-top: 1px solid #d0d2d3;
}

.sidebar {
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* main content area */