.event-details__container {
    margin-top: 65px;
    border-radius: 3px;
    padding: 2rem;
    background-color: #F8F7FA;
    border-left: 7px #CDE0D8 solid;
    position: fixed;
    width: 27%;
}

.event-details__title {
    font-size: 1.7rem;
}

.event-details__description {
    color: #828282;
    font-weight: 500;
    word-break: break-all;
    white-space: normal;
}

.event-details__field-name {
    font-size: 1.3rem;
    font-weight: 500;
    color: #828282;
    margin-bottom: .5rem;
}

.event-details__field-value {
    font-size: 1.3rem;
    font-weight: 600;
    color: #2A3D40;
}